body {
    margin: 0;
    padding: 0;
    background-color: #0F0F0F;
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas:
        'header header'
        'menu main'
        'footer footer';
    cursor: default;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: grid-template-columns 0.3s ease-in-out;
}

/* estilo del scroll */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #474c64;
}

::-webkit-scrollbar-thumb {
    background: #2a2d3c;
}

::-webkit-scrollbar-thumb:hover {
    background: #363a4d;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 4;
}

header h1 {
    user-select: none;
}

main {
    grid-area: main;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
}

footer {
    grid-area: footer;
    text-align: center;
    justify-content: center;
    z-index: 4;
}

header,
footer {
    display: flex;
    align-items: center;
    background: #1E1E1E;
    color: white;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.opciones-header {
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    font-size: 16px;
}

.btn-menu {
    display: flex;
    cursor: pointer;
    border: none;
    background: #BB86FC;
    color: white;
    font-size: 16px;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    gap: 5px;
    border: 1px solid #BB86FC;
}

.btn-menu:hover {
    background: #2A2A2A;
    border: 1px solid #BB86FC;
}

.tituloPagina {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    margin-left: 10px;
    border-bottom: 2px solid #5a618f;
    width: fit-content;
    transition: transform 0.3s ease-in-out;
}

.tituloPagina:hover {
    border-bottom: 2px solid #7880b3;
}

.tituloPagina img {
    user-select: none;
    pointer-events: none;
}

/* Estilos para el menuPerfil del header */
.menuPerfil {
    position: relative;
    z-index: 10;
}

.menuPerfil summary {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    user-select: none;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.menuPerfil summary::-webkit-details-marker {
    display: none;
}

.menuPerfil summary:hover,
.menuPerfil.is-active summary {
    background-color: #2A2A2A;
}

.menuPerfil ul {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2A2A2A;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    min-width: 160px;
    margin: 10px 0 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    /* Animacion inicial (oculto) */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
}

.menuPerfil ul li {
    user-select: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #F1F1F1;
}

.menuPerfil ul li:hover {
    background-color: #263859;
}

.menuPerfil ul li a {
    color: #F1F1F1;
    text-decoration: none;
    display: block;
    width: 100%;
}

.menuPerfil.is-active ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}