#menu{
    display: flex;
    background-color: #363a4d;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    z-index: 3;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-60px);
}
#menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}
#menu ul li{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
#menu ul li:hover{
    background-color: #545a7f;
}
#menu.active{
    display: flex;
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transform: translateY(60px);
}
#menu.inactive{
    display: flex;
    pointer-events: none;
    transform: translateY(-60px);
    transition: opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}   