#menu{
    display: none;
    background-color: #363a4d;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 1000;
}
#menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
}
#menu ul li{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
#menu ul li:hover{
    background-color: #545a7f;
}
#menu.active{
    display: flex;
}